<div class="row">
  <div class="span4">
    <div class='panel radius'>
    	<%= raw(@page.content_for(:what)) %>
    </div>
  </div>    

  <div class="span4">
    <div class='panel radius'>
    	<%= raw(@page.content_for(:how)) %>
    </div>
  </div>

  <div class="span4">
    <div class='panel radius'>
    	<%= raw(@page.content_for(:why)) %>
    </div>
  </div> 
</div>  